body { background: #EBEBEB; min-width: 300px; min-height: 200px; font-family: 'Roboto', Verdana, sans-serif; }

#loader { display: none; position: absolute; top: 50%; left: 50%; margin: -40px 0 0 -40px; }
#loader img { display: block; width: 80px; height: 80px; }
#loader span { display: block; text-align: center; margin-top: 6px; color: #333; }
#loader.active { display: block; }
#loader.active img { -webkit-animation-name: spin; -webkit-animation-duration: 3000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; }

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}